# Assigment 20 solution

### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

In [2]:
# read the contents of test.txt
! type test.txt

This is a test of the emergency text system,

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
with open('test.txt','r') as file:
    test2 = file.read()
    
print(test2)   
print(test1 == test2)

This is a test of the emergency text system,
True

### 3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [4]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(data)

In [5]:
import csv

rows = [['title', 'author', 'year'],
        ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
        ['Perdido Street Station', 'China Miéville', 2000],
        ['Thud!', 'Terry Pratchett', 2005],
        ['The Spellman Files', 'Lisa Lutz', 2007],
        ['Small Gods', 'Terry Pratchett', 1992]
       ]

with open("books.csv", 'w', newline='') as f:
    write = csv.writer(f)
    write.writerows(rows)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3
db = sqlite3.connect('books db')
cursor = db.cursor()
cursor.execute("Create Table if not exists books (title text , author text , year int)")
db.commit()
db.close()

In [7]:
#pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\balodi\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\balodi\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

### 5. Read books.csv and insert its data into the books table.

In [12]:
import pandas as pd

def read():
    db = sqlite3.connect("books.db")
    read_books = pd.read_csv("books.csv", encoding='unicode_escape')
    read_books.to_sql('books', db, if_exists='append', index= False)
    
read()

### 6. Select and print the title column from the books table in alphabetical order.

In [14]:
def print_title():
    db = sqlite3.connect("books.db")
    curr=  db.cursor()
    curr.execute('select title from books order by title asc')
    print(curr.fetchall())
    
print_title()

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

### 7.From the book table, select and print all columns in the order of publication.

In [15]:
def print_all():
    conn= sqlite3.connect("books.db")
    curr=  conn.cursor()
    curr.execute('select * from books order by year asc')
    print(curr.fetchall())
    
print_all()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6

In [17]:
import sqlalchemy

engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')

for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [18]:
! python -m pip install redis

Collecting redis
  Downloading redis-4.5.4-py3-none-any.whl (238 kB)
     -------------------------------------- 238.9/238.9 kB 3.7 MB/s eta 0:00:00
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\balodi\anaconda3\lib\site-packages (from redis) (4.0.2)
Installing collected packages: redis
Successfully installed redis-4.5.4

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

### 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')
b'13'