In [1]:
a = "sudh"

In [2]:
a

'sudh'

In [3]:
b = "sudh"

In [4]:
b

'sudh'

In [5]:
c = " this is my first class for full data science ,that's why i have joined this class "

In [6]:
c

" this is my first class for full data science ,that's why i have joined this class "

In [7]:
s = "this is full stack class"

In [8]:
s[0]

't'

In [9]:
s[-1]

's'

In [10]:
s[-2]

's'

In [11]:
s[-0]

't'

In [12]:
len(s)

24

In [13]:
s[-1:-10:-1]

'ssalc kca'

In [14]:
s

'this is full stack class'

In [15]:
for i in s:
    print(i)

t
h
i
s

i
s

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [16]:
for i in range(len(s)) :
    print(s[i])

t
h
i
s

i
s

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [17]:
s[::-1]

'ssalc kcats lluf si siht'

In [3]:
" himanshu "   +  " balodi "

' himanshu  balodi '

In [4]:
" himanshu " *6

' himanshu  himanshu  himanshu  himanshu  himanshu  himanshu '

In [10]:
s = "my name is himanshu balodi"

In [11]:
s

'my name is himanshu balodi'

In [7]:
s.find("name")

3

In [8]:
b = s.find ("name")
for i in range(len("name")):
    print(b+i)

3
4
5
6

In [12]:
s

'my name is himanshu balodi'

In [13]:
s.count("name")

1

In [14]:
s

'my name is himanshu balodi'

In [15]:
s.split()

['my', 'name', 'is', 'himanshu', 'balodi']

In [16]:
s.split("n")

['my ', 'ame is hima', 'shu balodi']

In [19]:
type(s.split("n"))

list

In [20]:
s

'my name is himanshu balodi'

In [21]:
s.upper()

'MY NAME IS HIMANSHU BALODI'

In [22]:
s.lower()

'my name is himanshu balodi'

In [24]:
s.swapcase()

'MY NAME IS HIMANSHU BALODI'

In [25]:
" ".join(s)

'm y   n a m e   i s   h i m a n s h u   b a l o d i'

In [28]:
list(reversed(s))

['i',
 'd',
 'o',
 'l',
 'a',
 'b',
 ' ',
 'u',
 'h',
 's',
 'n',
 'a',
 'm',
 'i',
 'h',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'm']

In [31]:
s = "      su dh   "

In [32]:
s

'      su dh   '

In [33]:
s.strip()

'su dh'

In [34]:
s.lstrip()

'su dh   '

In [35]:
s.strip()

'su dh'

In [36]:
s ="greeting from ineurone"

In [38]:
s.replace ("ger" ,'swer')

'greeting from ineurone'

In [39]:
s

'greeting from ineurone'

In [41]:
s.replace ("u" , "kumar")

'greeting from inekumarrone'

In [42]:
s

'greeting from ineurone'

In [43]:
s = "sudh"

In [44]:
s.center(23 , "@")

'@@@@@@@@@@sudh@@@@@@@@@'

In [45]:
s = "sudh\tkumar"

In [46]:
s

'sudh\tkumar'

In [49]:
s.exepandtabs ():

SyntaxError: invalid syntax (<ipython-input-49-d0d85786669f>, line 1)

In [50]:
a = "we all are a part of full stack "

In [51]:
a

'we all are a part of full stack '

NameError: name 'lowercase' is not defined