In [1]:
t =()

In [2]:
type (t)

tuple

In [3]:
l =[]
type(l)

list

In [15]:
t1 = (234,46,"sudh " ,3.4,True)

In [16]:
l1 =  [234,46,"sudh " ,3.4,True]

In [23]:
t1[0:4]

(235, 56, 'sudh ', 3.5)

In [24]:
t1[::-1]

(True, 3.5, 'sudh ', 56, 235)

In [26]:
t1[-1]

True

In [30]:
l1[0] = "kumar"

In [31]:
l1

['kumar', 56, 'sudh ', 3.5, True]

In [32]:
t1[0] = "sdfssd"

TypeError: 'tuple' object does not support item assignment

In [33]:
t2 =(234,45,565)

In [34]:
t1+t2

(235, 56, 'sudh ', 3.5, True, 234, 45, 565)

In [35]:
t1*4

(235,
 56,
 'sudh ',
 3.5,
 True,
 235,
 56,
 'sudh ',
 3.5,
 True,
 235,
 56,
 'sudh ',
 3.5,
 True,
 235,
 56,
 'sudh ',
 3.5,
 True)

In [36]:
t1

(235, 56, 'sudh ', 3.5, True)

In [37]:
34 in t1

False

In [39]:
465 in t1

False

In [40]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [41]:
t3 = (23,455,3353,646)

In [42]:
max(t3)

3353

In [49]:
t4 = ("dfdf","ywerw","dfdf")

In [50]:
max(t4)

'ywerw'

In [57]:
t1 = (234,34, "sudh" ,3,45,34,34,34,True)

In [58]:
t1.index(34)

1

In [63]:
t1.count(34)

4

In [59]:
l1

['kumar', 56, 'sudh ', 3.5, True]

In [60]:
l1.index(6)

ValueError: 6 is not in list

In [64]:
t1

(234, 34, 'sudh', 3, 45, 34, 34, 34, True)

In [65]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [66]:
t3

(23, 455, 3353, 646)

In [67]:
min(t3)

23

In [68]:
min(t4)

'dfdf'

In [69]:
t

()

In [70]:
t1

(234, 34, 'sudh', 3, 45, 34, 34, 34, True)

In [72]:
t5 = (90,45)

In [73]:
t1+t5

(234, 34, 'sudh', 3, 45, 34, 34, 34, True, 90, 45)

In [74]:
t6 = 56

In [76]:
l5 = list(t1)

In [77]:
l5.insert(3,t6)

In [78]:
l5

[234, 34, 'sudh', 56, 3, 45, 34, 34, 34, True]

In [79]:
tuple(l5)

(234, 34, 'sudh', 56, 3, 45, 34, 34, 34, True)

In [81]:
t = ((3,4,5,6,7),("sdfs",45,45) , ("456",54) , 45,564,67, [4,5,6,7,7])

In [86]:
t[6][1:4]

[5, 6, 7]

In [88]:
t[1][0]

'sdfs'

In [94]:
for i in t :
    print(i)

(3, 4, 5, 6, 7)
('sdfs', 45, 45)
('456', 54)
45
564
67
[4, 5, 6, 7, 7]

In [97]:
for i in t :
    if type(i)==tuple :
        print(i[0])

3
sdfs
456

In [98]:
t1

(234, 34, 'sudh', 3, 45, 34, 34, 34, True)

In [99]:
t2

(234, 45, 565)

In [ ]:
if len(t1)==len(t2) :
    print("it is same ")
else :
    print("it is not same ")

t2