In [1]:
class car:
    pass

In [10]:
audiq7 = car()

In [14]:
audiq7.milage =10
audiq7.year=2020
audiq7.make =345
audiq7.model ="fsdf"

In [16]:
audiq7.milage

10

In [17]:
audiq7.year

2020

In [18]:
nano = car()

In [19]:
nano.milage = 20
nano.year = 2020
nano.make = 345
nano.model = "dfds"
nano.enginno =342342433

In [20]:
print(nano.milage , audiq7.milage)

20 10

In [21]:
class car :
    def __init__(self , milage , year , make , model):
        self.milage = milage
        self.year = year
        self.make = make

In [26]:
nano1 = car(20, 2020 , 23434 , "sdfsd3453")
audiq71 =car(10 , 2020 ,334343 , "sdfff")
nano2 = car(20, 2020 , 23434 , "sdfsd3453")
audiq72 =car(10 , 2020 ,334343 , "sdfff")
nano3 = car(20, 2020 , 23434 , "sdfsd3453")
audiq73 =car(10 , 2020 ,334343 , "sdfff")
nano4 = car(20, 2020 , 23434 , "sdfsd3453")
audiq74 =car(10 , 2020 ,334343 , "sdfff")
nano5 = car(20, 2020 , 23434 , "sdfsd3453")
audiq75 =car(10 , 2020 ,334343 , "sdfff")
nano6 = car(20, 2020 , 23434 , "sdfsd3453")
audiq76 =car(10 , 2020 ,334343 , "sdfff")

In [27]:
nano1.milage

20

In [58]:
class car :
    def __init__(a , m , y , ma , mo):
        a.milage = m
        a.year = y
        a.make = m
        a.make = mo
    def age(b,current_year):
        return current_year - b.year
     
    
    def milage1(self):
        print("print a milage of a car " , self.milage)
        
        
    def __str__(c):
        return "this is my car class i have created"

In [59]:
nano6 = car(20, 2020 , 23434 , "sdfsd3453")

In [60]:
nano6.milage1()

print a milage of a car  20

In [61]:
nano6.age(2022)

2

In [62]:
nano6

In [63]:
print(nano6)

this is my car class i have created

In [3]:
class student:
    
    def __inti__(self , name , rollno , joining_date , current_topic):
        self.name = name
        self.rollno = rollno
        self.joining_date = joining
        self.current_topic = current_topic
        
    def crt_topic(self):
        print("Current topic discussed in my class is " , self.current_topic)
        
    def str_rollno(self):
        
        if type(self.rollno) == str:
            print("do nothing ")
            
        else :
                return str(self.rollno)
            
    def duretion(self,current_date) :
        print("duration of student in my class is " , Current_date- self.joining_date)
        
    def __str__(self):
        
        
        
        return "this is a student class where they can try to input there own data and they can try to fetch it "

In [9]:
srini = student()